<link rel = "stylesheet" href = "css/style.css">

<center><br><p class = "textcolor2">


<body>

Tic Tac Toe is a game created by the ancient Mayan cultures in which they would place the severed heads of their enemies in a grid. 
This would draw huge crowds thirsting for bloodlust. Each game was followed by the ritualistic sacrifice of the losing player.
Now I get to explain it to all of you, and it makes me wish someone would sacrifice me. 
<br></p></center>