
    <head>
        <title><%= @title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
    	<div class='header-container'>
            <h1 id='header'><a href='/'>I can't believe I have to explain this game... Where did I go wrong in my life?</a></h1>
        </div>
<link rel = "stylesheet" href = "css/style.css">

<br><p class = "textcolor2">




<body>
<a href='https://en.wikipedia.org/wiki/Tic-tac-toe' target='blank'></a>

</body></p>