<div class='form-container'>
	<h1 id='results-header'>A tie. Eesh. A meaningless end to a meaningless game. </h1>

	<p><a class="myButton" href='/'>Play Again I guess. But whats the point?</a></p>

	<!--<p><a class="myButton" href="/update_csv">Results</a></p>-->
</div>