<div class='form-container'>
	<h1 id='results-header'><%= current_player.marker %> wins! Big deal. You want a cookie? Way to be good at something meaningless <%= current_player_name %>. Now go outside or something.</h1>

	<p><a class="myButton" href='/'>Click Here to Play Again. But really, what's the point?</a></p>

	<!--<p><a class="myButton" href="/update_csv">Results</a></p>-->
</div>	